<a href="https://colab.research.google.com/github/OllyMuh/Python_for_DataScience/blob/Project-Clean/Dataset_Cleaning_RealEstate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Анализ данных

In [ ]:
import pandas as pd
import numpy as np

from scipy.stats import mode

# отключаем предупреждения
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# пути к директориям и файлам
DATASET_PATH = '/content/drive/MyDrive/train.csv'
PREPARED_DATASET_PATH = '/content/drive/MyDrive/train_prepared.csv'

**Описание датасета:**

**Id** - идентификационный номер квартиры

**DistrictId** - идентификационный номер района

**Rooms** - количество комнат

**Square** - площадь

**LifeSquare** - жилая 

**KitchenSquare** - площадь кухни

**Floor** - этаж

**HouseFloor** - количество этажей в доме

**HouseYear** - год постройки дома

**Ecology_1, Ecology_2, Ecology_3** - экологические показатели местности

**Social_1, Social_2, Social_3** - социальные показатели 

**Healthcare_1, Helthcare_2** - показатели местности, связанные с охраной здоровья

**Shops_1, Shops_2** - показатели, связанные с наличием магазинов, торговых центров

**Price** - цена квартиры

In [ ]:
df = pd.read_csv(DATASET_PATH, sep=',')
df.head(2)

      Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
0  11809          27    3.0  ...        0        B  305018.871089
1   3013          22    1.0  ...        0        B  177734.553407

[2 rows x 20 columns]

In [ ]:
df.tail(3)

         Id  DistrictId  Rooms  ...  Shops_1  Shops_2          Price
9997   2795         178    1.0  ...        5        B  165953.912580
9998  14561          21    1.0  ...        5        B  171842.411855
9999   7202          94    1.0  ...        9        B  177685.627486

[3 rows x 20 columns]

In [ ]:
df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [ ]:
# изменяем тип данных id на строковый - чтобы не мешал
df['Id'] = df['Id'].astype(str)
df['Id'].dtype

dtype('O')

In [ ]:
# получаем обобщенную информацию о датасете
df.describe()

         DistrictId         Rooms  ...       Shops_1          Price
count  10000.000000  10000.000000  ...  10000.000000   10000.000000
mean      50.400800      1.890500  ...      4.231300  214138.857399
std       43.587592      0.839512  ...      4.806341   92872.293865
min        0.000000      0.000000  ...      0.000000   59174.778028
25%       20.000000      1.000000  ...      1.000000  153872.633942
50%       36.000000      2.000000  ...      3.000000  192269.644879
75%       75.000000      2.000000  ...      6.000000  249135.462171
max      209.000000     19.000000  ...     23.000000  633233.466570

[8 rows x 16 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  object
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(8), object(4)
memory usage: 1.5+ MB

In [ ]:
df.select_dtypes(include='object')

         Id Ecology_2 Ecology_3 Shops_2
0     11809         B         B       B
1      3013         B         B       B
2      8215         B         B       B
3      2352         B         B       B
4     13866         B         B       B
...     ...       ...       ...     ...
9995   1260         B         B       B
9996  16265         B         B       A
9997   2795         B         B       B
9998  14561         B         B       B
9999   7202         B         B       B

[10000 rows x 4 columns]

In [ ]:
df['Shops_2'].value_counts()
df['Ecology_2'].unique()

array(['B', 'A'], dtype=object)

# Обработка пропусков

In [ ]:
# булевая маска таблицы - пропуски df.isna()
# суммирование по столбцам
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

**Обрабатываем пропуски жилой площади**

В отдельном столбце помечаем данные с пропусками единичками

In [ ]:
# 1. общее для всех значение - 0
df['LifeSquare_nan'] = 0
df

         Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_nan
0     11809          27    3.0  ...        B  305018.871089               0
1      3013          22    1.0  ...        B  177734.553407               0
2      8215           1    3.0  ...        B  282078.720850               0
3      2352           1    1.0  ...        B  168106.007630               0
4     13866          94    2.0  ...        B  343995.102962               0
...     ...         ...    ...  ...      ...            ...             ...
9995   1260          61    2.0  ...        B  119367.455796               0
9996  16265          27    2.0  ...        A  199715.148807               0
9997   2795         178    1.0  ...        B  165953.912580               0
9998  14561          21    1.0  ...        B  171842.411855               0
9999   7202          94    1.0  ...        B  177685.627486               0

[10000 rows x 21 columns]

In [ ]:
# 2. выбираем пустые зачения и помечаем их 1
df.loc[df['LifeSquare'].isna(), 'LifeSquare_nan'] = 1
df['LifeSquare_nan'].value_counts()

0    7887
1    2113
Name: LifeSquare_nan, dtype: int64

Заменяем пустые значения жилой площади значениями общей площади

In [ ]:
df['LifeSquare'] = df['LifeSquare'].fillna(df['Square'])
df['LifeSquare'].isna().sum()

0

In [ ]:
df[df['LifeSquare_nan'] == 1].head()

       Id  DistrictId  Rooms  ...  Shops_2          Price  LifeSquare_nan
0   11809          27    3.0  ...        B  305018.871089               1
3    2352           1    1.0  ...        B  168106.007630               1
18   4581           1    1.0  ...        B  128803.593810               1
20   8768          63    1.0  ...        B  260328.413376               1
24   4717          27    1.0  ...        A  135466.559958               1

[5 rows x 21 columns]

**Обрабатываем пропуски Healthcare1**

In [ ]:
df['Healthcare_1'].describe()

count    5202.000000
mean     1142.904460
std      1021.517264
min         0.000000
25%       350.000000
50%       900.000000
75%      1548.000000
max      4849.000000
Name: Healthcare_1, dtype: float64

In [ ]:
# будем заменять на медианное значение
# 1. сделаем метки
df['Healthcare_1_nan'] = 0
df.loc[df['Healthcare_1'].isna(), 'Healthcare_1_nan'] = 1
df.loc[df['Healthcare_1_nan'] == 1].head()

       Id  DistrictId  Rooms  ...          Price  LifeSquare_nan  Healthcare_1_nan
0   11809          27    3.0  ...  305018.871089               1                 1
3    2352           1    1.0  ...  168106.007630               1                 1
4   13866          94    2.0  ...  343995.102962               0                 1
8    9951           1    1.0  ...  160400.401732               0                 1
11  16755          88    2.0  ...  253124.005332               0                 1

[5 rows x 22 columns]

In [ ]:
# 2. рассчитаем медиану
median_health = df['Healthcare_1'].median()

In [ ]:
# 3. Заменяем пропуски на медианное значение
df['Healthcare_1'].fillna(median_health, inplace=True)
df['Healthcare_1'].isna().sum()

0

In [ ]:
df[df['Healthcare_1_nan'] == 1].head()

       Id  DistrictId  Rooms  ...          Price  LifeSquare_nan  Healthcare_1_nan
0   11809          27    3.0  ...  305018.871089               1                 1
3    2352           1    1.0  ...  168106.007630               1                 1
4   13866          94    2.0  ...  343995.102962               0                 1
8    9951           1    1.0  ...  160400.401732               0                 1
11  16755          88    2.0  ...  253124.005332               0                 1

[5 rows x 22 columns]

In [ ]:
df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare          0
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1        0
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
LifeSquare_nan      0
Healthcare_1_nan    0
dtype: int64

#Обработка выбросов

In [ ]:
df.describe()

         DistrictId         Rooms  ...  LifeSquare_nan  Healthcare_1_nan
count  10000.000000  10000.000000  ...    10000.000000      10000.000000
mean      50.400800      1.890500  ...        0.211300          0.479800
std       43.587592      0.839512  ...        0.408251          0.499617
min        0.000000      0.000000  ...        0.000000          0.000000
25%       20.000000      1.000000  ...        0.000000          0.000000
50%       36.000000      2.000000  ...        0.000000          0.000000
75%       75.000000      2.000000  ...        0.000000          1.000000
max      209.000000     19.000000  ...        1.000000          1.000000

[8 rows x 18 columns]

**Жилая площадь больше общей площади**

In [ ]:
df.loc[df['Square'] < df['LifeSquare']]

         Id  DistrictId  Rooms  ...          Price  LifeSquare_nan  Healthcare_1_nan
33      847          74    2.0  ...  254005.381863               0                 1
64     3992           1    3.0  ...  300180.365669               0                 1
77    11771          45    1.0  ...  247440.530601               0                 1
100   13343          74    2.0  ...  226808.747168               0                 1
111   13875          20    1.0  ...  199248.114376               0                 0
...     ...         ...    ...  ...            ...             ...               ...
9960  16258          48    3.0  ...  524365.550705               0                 1
9962  14175          14    1.0  ...   87556.385617               0                 0
9979   2201           6    1.0  ...  134888.083598               0                 0
9987  11665           1    2.0  ...  203908.192698               0                 1
9993   9289           1    3.0  ...  264213.558631               0                 1

[482 rows x 22 columns]

In [ ]:
# помечаем такие ячейки
df['LifeSquare_toobig'] = 0
df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare_toobig'] = 1

In [ ]:
# заменяем значения жилой площади на значения общей площади
df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare'] = df['Square']

In [ ]:
df.loc[df['LifeSquare_toobig'] == 1]

         Id  DistrictId  ...  Healthcare_1_nan  LifeSquare_toobig
33      847          74  ...                 1                  1
64     3992           1  ...                 1                  1
77    11771          45  ...                 1                  1
100   13343          74  ...                 1                  1
111   13875          20  ...                 0                  1
...     ...         ...  ...               ...                ...
9960  16258          48  ...                 1                  1
9962  14175          14  ...                 0                  1
9979   2201           6  ...                 0                  1
9987  11665           1  ...                 1                  1
9993   9289           1  ...                 1                  1

[482 rows x 23 columns]

**Количество этажей в доме = 0**

In [ ]:
df.loc[df['HouseFloor'] == 0]

         Id  DistrictId  ...  Healthcare_1_nan  LifeSquare_toobig
24     4717          27  ...                 1                  0
152   12947          53  ...                 0                  0
159   13146          74  ...                 1                  0
186   12174          62  ...                 1                  0
229   15661          45  ...                 1                  0
...     ...         ...  ...               ...                ...
9889    629          27  ...                 1                  0
9931  15686           1  ...                 1                  0
9940   4711           6  ...                 0                  0
9950   5383          48  ...                 1                  0
9996  16265          27  ...                 1                  0

[269 rows x 23 columns]

In [ ]:
# помечаем такие объекты
df['HouseFloor_null'] = 0
df.loc[df['HouseFloor'] == 0, 'HouseFloor_null'] = 1

In [ ]:
# заменяем на значения этажности квартиры
df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = df['Floor']

In [ ]:
df.loc[df['HouseFloor_null'] == 1]

         Id  DistrictId  ...  LifeSquare_toobig  HouseFloor_null
24     4717          27  ...                  0                1
152   12947          53  ...                  0                1
159   13146          74  ...                  0                1
186   12174          62  ...                  0                1
229   15661          45  ...                  0                1
...     ...         ...  ...                ...              ...
9889    629          27  ...                  0                1
9931  15686           1  ...                  0                1
9940   4711           6  ...                  0                1
9950   5383          48  ...                  0                1
9996  16265          27  ...                  0                1

[269 rows x 24 columns]

**Неадекватная площадь кухни (до 2014 мкв)**

In [ ]:
df['KitchenSquare'].describe()

count    10000.000000
mean         6.273300
std         28.560917
min          0.000000
25%          1.000000
50%          6.000000
75%          9.000000
max       2014.000000
Name: KitchenSquare, dtype: float64

In [ ]:
# поиск с помощью квантилей
KitchenSquare_max = np.quantile(df['KitchenSquare'], q=0.995)
KitchenSquare_max

20.0

In [ ]:
KitchenSquare_min = np.quantile(df['KitchenSquare'], q=0.05)
KitchenSquare_min
# ничего не делаем, так как кухни может не быть как отдельного помещения

0.0

In [ ]:
condition = df['KitchenSquare'] > KitchenSquare_max
df[condition]

         Id  DistrictId  ...  LifeSquare_toobig  HouseFloor_null
277   13559          79  ...                  0                0
286    2737          27  ...                  1                0
456   10546          62  ...                  0                0
511    8685          62  ...                  0                0
682   16593          52  ...                  0                0
755   15781          10  ...                  0                0
1614   3267          58  ...                  0                0
1728  16395           2  ...                  0                0
1776  16568          27  ...                  1                0
1906   5548          86  ...                  0                0
2066  14556         183  ...                  0                0
2108   2271          27  ...                  0                0
2325   7111          27  ...                  0                0
2454  12390          72  ...                  1                0
2632    300          31  ...                  0                0
2702   1315           6  ...                  0                0
2785   6569          27  ...                  0                0
2790  15947         129  ...                  0                0
2831  12507          54  ...                  0                0
3125   8500          31  ...                  0                0
3228   6708          48  ...                  0                0
3240   2371          27  ...                  0                0
3322  11459          79  ...                  0                0
3586  12918          23  ...                  1                0
3725    299          27  ...                  0                0
3956   4966          96  ...                  0                0
4091  15466          88  ...                  1                0
5002   7441          62  ...                  0                0
5033  16781          27  ...                  1                0
5273  13703          42  ...                  0                0
5663  11739          27  ...                  0                0
5695  11624          46  ...                  0                0
5746  12074          94  ...                  0                0
5764   6674          54  ...                  0                0
5792   6508          23  ...                  0                0
6079    448          48  ...                  0                0
6293    673          27  ...                  0                0
6505  14679          81  ...                  0                0
7080   4265         161  ...                  0                0
7601  12666          34  ...                  0                0
7710  16511          52  ...                  0                0
7733  12552          58  ...                  0                0
8011   3233         129  ...                  0                0
8329   7162          34  ...                  1                0
8727  12924          30  ...                  0                0
8855   9690          27  ...                  0                0
9520  14656          62  ...                  0                0
9860   3431          62  ...                  0                0

[48 rows x 24 columns]

In [ ]:
# заменяем признак на медиану
df.loc[condition, 'KitchenSquare'] = df['KitchenSquare'].median()
df['KitchenSquare'].describe()

count    10000.000000
mean         5.675700
std          3.874639
min          0.000000
25%          1.000000
50%          6.000000
75%          9.000000
max         20.000000
Name: KitchenSquare, dtype: float64

**Этаж квартиры больше, чем количество этажей в здании**

In [ ]:
condition_floor = df['HouseFloor'] < df['Floor']

In [ ]:
# помечаем такие объекты
df['Floor_more_then_House'] = 0
df.loc[condition_floor, 'Floor_more_then_House'] = 1
df.loc[condition_floor]

         Id  DistrictId  ...  HouseFloor_null  Floor_more_then_House
17     1190           8  ...                0                      1
19      367          45  ...                0                      1
21     8471          20  ...                0                      1
25     4521           6  ...                0                      1
26     8553          88  ...                0                      1
...     ...         ...  ...              ...                    ...
9953   7659          57  ...                0                      1
9960  16258          48  ...                0                      1
9968   9920           1  ...                0                      1
9970  13501           6  ...                0                      1
9975   4944           6  ...                0                      1

[1556 rows x 25 columns]

In [ ]:
# Заменяем значения этажности дома на этаж квартиры
df.loc[condition_floor, 'HouseFloor'] = df['Floor']
df.loc[condition_floor]

         Id  DistrictId  ...  HouseFloor_null  Floor_more_then_House
17     1190           8  ...                0                      1
19      367          45  ...                0                      1
21     8471          20  ...                0                      1
25     4521           6  ...                0                      1
26     8553          88  ...                0                      1
...     ...         ...  ...              ...                    ...
9953   7659          57  ...                0                      1
9960  16258          48  ...                0                      1
9968   9920           1  ...                0                      1
9970  13501           6  ...                0                      1
9975   4944           6  ...                0                      1

[1556 rows x 25 columns]

# Новые признаки

Изменяем тип данных категорийных признаков

In [ ]:
df.dtypes

In [ ]:
df['Shops_2'].unique()

array(['B', 'A'], dtype=object)

In [ ]:
# заменяем значения A и B Shops_2 цифрами 1 и 2
df['Shops_2_int'] = 1
df.loc[df['Shops_2'] == 'B', 'Shops_2_int'] = 2

In [ ]:
df['Ecology_2'].unique()

array(['B', 'A'], dtype=object)

In [ ]:
# заменяем значения A и B Ecology_2 цифрами 1 и 2
df['Ecology_2_int'] = 1
df.loc[df['Ecology_2'] == 'B', 'Ecology_2_int'] = 2

In [ ]:
df['Ecology_3'].unique()

array(['B', 'A'], dtype=object)

In [ ]:
# заменяем значения A и B Ecology_3 цифрами 1 и 2
df['Ecology_3_int'] = 1
df.loc[df['Ecology_3'] == 'B', 'Ecology_3_int'] = 2

In [ ]:
df.dtypes

In [ ]:
# добавляем новый признак средней цены квартиры по году дома (для учета года постройки)
def code_mean(data, cat_feature, real_feature):
  return (data[cat_feature].map(data.groupby(cat_feature)[real_feature].mean()))

df['mean_year_price']

# **Класс для очистки**

In [ ]:
# класс для очистки датасета
class DataPipeLine:
  """ подготовка исходных данных """
  def __init__(self):
    self.Healthcare_1_median = None
    self.KitchenSquare_median = None
    self.KitchenSquare_max = None

  """ сохраняем статистики """
  def fit(self, df):
    self.Healthcare_1_median = df['Healthcare_1'].median()
    self.KitchenSquare_median = df['KitchenSquare'].median()
    self.KitchenSquare_max = np.quantile(df['KitchenSquare'], q=0.995)

  """ трансформация данных """    
  def transform(self, df):

    # 1. Обработка пропусков
    df['LifeSquare'] = df['LifeSquare'].fillna(df['Square'])
    df['Healthcare_1'] = df['Healthcare_1'].fillna(self.Healthcare_1_median)

    # 2. Корректировка значений

    # жилая площадь больше общей
    df.loc[df['LifeSquare'] > df['Square'], 'LifeSquare'] = df['Square']

    # количество этажей в доме = 0
    df.loc[df['HouseFloor'] == 0, 'HouseFloor'] = df['Floor']

    # этаж квартиры больше,чем этажность здания
    df.loc[df['HouseFloor'] < df['Floor'], 'HouseFloor'] = df['Floor']

    # 3. Выбросы

    # площадь кухни
    df.loc[df['KitchenSquare'] > self.KitchenSquare_max, 'KitchenSquare'] = self.KitchenSquare_median

    return df

In [ ]:
df = pd.read_csv(DATASET_PATH, sep=',')
pipe = DataPipeLine()
pipe.fit(df)
df = pipe.transform(df)
df.describe()

In [ ]:
df.to_csv(PREPARED_DATASET_PATH, index=False, encoding='utf-8')