<a href="https://colab.research.google.com/github/OllyMuh/Python_for_DataScience/blob/Lesson_3/Lesson_3_Python_for_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема “Обучение с учителем”

**Задание 1**
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [1]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston

In [5]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [ ]:
data = boston['data']
feature_names = boston['feature_names']
feature_names

In [ ]:
print(boston['DESCR'])

In [12]:
X = pd.DataFrame(data, columns = feature_names)
X.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [15]:
target = boston['target']
y = pd.DataFrame(target, columns = ['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [16]:
from pandas.core.common import random_state
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [23]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
check = pd.DataFrame({
          'y_test': y_test['price'], 
          'y_pred': y_pred.flatten()
})
check.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [24]:
from sklearn.metrics import r2_score

In [25]:
r2_score(y_test, y_pred)

0.7112260057484974

**Задание 2**
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42, min_samples_leaf=10)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [30]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, min_samples_leaf=10, n_estimators=1000,
                      random_state=42)

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [31]:
y_train_predicted = model.predict(X_test)

In [32]:
r2_score(y_test, y_train_predicted) # RandomForest лучше, так как выше точность прогноза (0.805 против 0.711)

0.8054034885783383