<a href="https://colab.research.google.com/github/OllyMuh/Python_for_DataScience/blob/Lesson_1_HW/Lesson_1__Python_for_data_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Тема “Вычисления с помощью Numpy”

In [ ]:
import numpy as np

**Задание 1**
Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение.

In [ ]:
A = np.array([[ 1,  6], [ 2,  8], [ 3, 11], [ 3, 10], [ 1,  7]])
A

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [ ]:
A.shape

(5, 2)

 Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [ ]:
mean_a = A.mean(axis = 0)
mean_a # средние значения признаков

array([2. , 8.4])

**Задание 2**
Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [ ]:
a_centered = A - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

In [ ]:
a_centered.shape

(5, 2)

**Задание 3**
Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [ ]:
a_left = np.hsplit(a_centered, 2)[0]
a_left

array([[-1.],
       [ 0.],
       [ 1.],
       [ 1.],
       [-1.]])

In [ ]:
a_right = np.hsplit(a_centered, 2)[1]
a_right

array([[-2.4],
       [-0.4],
       [ 2.6],
       [ 1.6],
       [-1.4]])

In [ ]:
a_left_tr = a_left.transpose()
a_left_tr

array([[-1.,  0.,  1.,  1., -1.]])

In [ ]:
a_centered_sp = a_left_tr @ a_right
a_centered_sp

array([[8.]])

In [ ]:
rows, columns = a_centered.shape
rows # количество наблюдений (строк)

5

In [ ]:
a_centered_sp / (rows - 1) # ковариация двух признаков, содержащихся в массиве

2.0

Еще один вариант (поэлементный) для проверки

In [ ]:
a_centered_sp = a_centered[0,0]*a_centered[0,1]+a_centered[1,0]*a_centered[1,1]+a_centered[2,0]*a_centered[2,1]+a_centered[3,0]*a_centered[3,1]+a_centered[4,0]*a_centered[4,1]
a_centered_sp

8.0

В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [ ]:
np.cov(A.transpose())[0,1] # все сходится))

2.0

# Тема “Работа с данными в Pandas”

**Задание 1**
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [2]:
import pandas as pd

In [4]:
authors = pd.DataFrame({'author_id': [1,2,3], 'author_name':['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [3]:
book = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3], 'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 'price':[450, 300, 350, 500, 450, 370, 290]})
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

**Задание 2**
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [6]:
author_price = pd.merge(authors, book, how='inner', on = 'author_id')
author_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

**Задание 3**
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [12]:
sorted = author_price.sort_values(['price'], ascending=False)
top5 = sorted.head(5)
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

**Задание 4**
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [63]:
# датафрейм с минимальными ценами
min_price = author_price.groupby('author_name').agg({'price':'min'})
min_price = min_price.reset_index()
min_price = min_price.rename(columns = {'price': 'min_price'})

# датафрейм с максимальными ценами
max_price = author_price.groupby('author_name').agg({'price':'max'})
max_price = max_price.reset_index()
max_price = max_price.rename(columns = {'price': 'max_price'})

# датафрейм с медианными ценами
mean_price = author_price.groupby('author_name').agg({'price': 'mean'})
mean_price = mean_price.reset_index()
mean_price = mean_price.rename(columns = {'price': 'mean_price'})
# объединяем первые два фрейма
authors_stat1 = pd.merge(min_price, max_price, on='author_name')
# объединяем с третьим фреймом
authors_stat = pd.merge(authors_stat1, mean_price, on='author_name')

authors_stat

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

**Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.